.header {
  display: flex;
  justify-content: space-between;
  background: $main-color;

  .main-nav {
    display: flex;
    width: 500px;
    justify-content: space-around;
    .menu-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        text-decoration: none;
        padding: 20px 25px;
        font-size: 21px;
        color: whitesmoke;
      }
      a:hover {
        background: $hover;
      }
    }
  }
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    a {
      text-decoration: none;
      color: $logo;
    }
  }
}
.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  background: $menu-background;
  text-align: end;
  width: 250px;
  right: 276px;
  a {
    padding: 10px 15px !important;
    font-size: 16px!important;
  }
}
