@include md-min {
  .header__dropdown-content {
    display: none;
  }
  .header--dropdown:hover .header__dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    background: $menu-background;
    text-align: end;
    width: 250px;
    right: 276px;
    z-index: 100;
    a {
      padding: 10px 15px !important;
      font-size: 16px !important;
    }
  }

  .header__hamburger-menu {
    display: none !important;
  }
}
