@include md-max {
  .header {
    height: 65px;
    .header__main-nav {
      display: flex;
      flex-direction: column;
      justify-content: start !important;
      align-items: center;
      background: $menu-background;
      position: absolute;
      right: 0;
      top: 65px;
      width: 400px !important;
      height: 100vh;
      z-index: 99;
      visibility: hidden;
      .header__dropdown-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          padding: 10px !important;
          font-size: 15px !important;
        }
      }
      .header--dropdown a {
        text-align: center;
      }
      a:hover {
        color: $main-color !important;
        background: $menu-background !important;
      }
    }
  }

  .open {
    visibility: visible !important;
  }
}
